---
import type { CollectionEntry } from 'astro:content';
import StorySummaryCard from './StorySummaryCard.astro';

interface Props {
  stories: CollectionEntry<'story'>[];
}

const { stories } = Astro.props;
---

<ul class='grid md:grid-cols-2 lg:grid-cols-3 gap-8'>
  {
    stories.map((story) => {
      return (
        <li>
          <StorySummaryCard story ={story} />
        </li>
      );
    })
  }
</ul>
