---
import Layout from '@layouts/Default.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import MobileSocials from '@components/home/MobileSocials.astro';
import { Pill } from '@eliancodes/brutal-ui';
import { Button } from '@eliancodes/brutal-ui';
import { Card } from '@eliancodes/brutal-ui';

const builtWith = [
  { name: 'Books', url: 'https://astro.build/' },
  { name: 'Articles', url: 'https://uno.antfu.me/' },
  {
    name: 'Stories',
    url: './story/',
  },
  { name: 'Audio', url: 'https://docs.astro.build/en/guides/rss/' },
  {
    name: 'IELTS',
    url: 'https://docs.astro.build/en/guides/integrations-guide/sitemap/',
  },
  { name: 'Teachers', url: 'https://vercel.com' },
];
---

<Layout
  title='Home'
  pageTitle='oldbuffaloeducation |Home'
  description='Build your English with Old Buffalo'
>
  <main class='bg-pink p-6'>
    <MobileSocials />
    <section id='about' class='grid md:grid-cols-8 gap-8 mt-4'>
      <h2 class='hidden'>About Old Buffalo Education</h2>
      <div class='col-span-4'>
        <Card>
          <div class='flex flex-col justify-between items-start gap-4'>
            <p class='mt-4 outfit text-2xl md:text-5xl lg:text-7xl'>
              Build your English with Old Buffalo
            </p>
            <Button target={'_self'} href='/blog/'>
              Check out the blog &rarr;
            </Button>
          </div>
        </Card>
      </div>
      <div class='col-span-2'>
        <Card>
          <h2 class='text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif'>
            On the site
          </h2>
          <ul class='flex gap-4 flex-wrap'>
            {
              builtWith.map((item) => (
                <li>
                  <Pill>
                    <a
                      class='sanchez'
                      href={item.url}
                      target='_blank'
                      title={`Go to ${item.name}`}
                    >
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>
      <div class='col-span-2'>
        <Card>
          <p class='poppins'>
            The first foreign language idiom I ever truly understood was 'trẻ trâu', which means 'young buffalo' in Vietnamese.  It still makes me smile when I hear someone use it. </p> 
            <br></br>
          <p class='poppins'>
            The discovery of hidden meanings is a joy in any language, so old buffalo has packs of English language materials ready for you to explore.
          </p>
        </Card>
      </div>
    </section>
    <RecentBlogPosts />
  </main>
</Layout>
