---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Default.astro';
import VocabularyList from '@components/vocabulary/VocabularyList.astro';

const vocabularyPosts = await getCollection('vocabulary').then((collection) =>
  collection.reverse()
);
---

<Layout
  title='Stories'
  description='Old Buffalo Education | On this page you can find our collection of stories'
  pageTitle='Old Buffalo Stories'
>
  <main class='bg-green p-6'>
    <VocabularyList vocabularyPosts ={vocabularyPosts} />
  </main>
</Layout>

